<%- include partial/header%>
<%- include partial/navbar%>
  <h1>FINAL LIVE CODE : LIST SUPPLIERS-ITEM</h1>
  <body>
    <!-- <a href="/items"><button type="button" name="button">ITEM</button></a>
    <a href="/suppliers"><button type="button" name="button">SUPPLIERS</button></a> -->
  </body>
</html>
