<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <h1>FINAL LIVE CODE : LIST SUPPLIERS-ITEM</h1>
  <body>
    <a href="/items"><button type="button" name="button">ITEM</button></a>
    <a href="/suppliers"><button type="button" name="button">SUPPLIERS</button></a>
  </body>
</html>
