<%- include partial/header%>
<%- include partial/navbar%>
<!-- </head> -->
<div class="container">
<div class="row">
<div class="col-md-8 ml-md-auto mr-md-auto" style="margin-top:50px">
<h1 style="margin:0;">Add Item</h1>
<%if(err_msg){%>
  <div class="alert alert-danger" role="alert">
  <p><%=err_msg%></p>
</div>
  <%}%>
  <body>
    <form action="/items/add/" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputName" class="col-form-label">Name</label>
          <input type="text" name="name" value="" placeholder="" class="form-control"><br>
        </div>
        <div class="form-group col-md-4">
          <label for="inputName" class="col-form-label">Brand</label>
          <input type="text" name="brand" value="" placeholder="" class="form-control"><br>
        </div>
        <div class="form-group col-md-4">
          <label for="inputName" class="col-form-label">Code Item</label>
          <input type="text" name="codeitem" value="" placeholder="" class="form-control"><br>
        </div>
    </div>
      <button type="submit" name="button" class="btn btn-primary">Add</button>
      <a class="btn btn-danger"href="/items">Back</a>
    </form>
  </body>

  <!-- <a href="/items">Back</a> -->
</html>
