<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>itemEdit</title>
    <h1>ADD Item</h1>
  </head>
  <body>
    <form action="/items/add/" method="post">
      Item Name: <input type="text" name="name" value="" placeholder="Input Item Name"><br>
      Item Brand: <input type="text" name="brand" value="" placeholder="Input Item Brand"><br>
      Code Item: <input type="text" name="codeitem" value="" placeholder="Input Code Item"><br>
      <button type="submit" name="button">EDIT</button>
    </form>
  </body>
  <a href="/items">Back</a>
</html>
