<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Suppliers Add</title>
    <h1>ADD Suppliers</h1>
  </head>
  <body>
    <form action="/suppliers/add/" method="post">
      Suppliers Name: <input type="text" name="name" value="" placeholder="Input Suppliers Name"><br>
      Suppliers City: <input type="text" name="kota" value="" placeholder="Input Suppliers City"><br>
      <button type="submit" name="button">ADD</button>
    </form>
  </body>
  <a href="/suppliers">Back</a>
</html>
